@import '../../../../style/layout.scss';
.uploadArea {
	position: relative;
	flex: 1;
	display: flex;
	color: $minorTextColor;
	justify-content: center;
	.fileInput {
		height: 50px;
		display: none;
	}
	.upload {
		@include flexCenter;
		width: 120px;
		height: 150px;
		border: 1px solid $level1BorderColor;
		border-style: dashed;
		align-self: center;
		cursor: pointer;
		position: relative;
		&::before {
			content: '+'; // TODO: 改字体图标
			display: flex;
			position: absolute;
		}
		&:hover {
			border: 1px solid $themeColor;
			border-style: dashed;
			color: $themeColor;
		}
	}
	.Precautions {
		position: absolute;
		bottom: 0;
		font-size: 12px;
		padding: 10px;
		text-indent: 2em;
		> span {
			display: block;
		}
	}
}
