@import '../../../../style/avatar.scss';
@import '../../../../style/layout.scss';
@import '../../../../style/chat.scss';
.answer {
	display: flex;
	height: auto;
	width: 80%;
	align-self: flex-start;
	flex-direction: row;
	margin: 10px;
	.answerContent {
		@include answer;
		white-space: pre-wrap;
		background-color: $basicWhite;
		border: 1px solid $themeColor;
		position: relative;
		flex-direction: column;
		.answerError {
			color: $dangerColor;
		}
		> pre {
			white-space: pre-wrap;
		}
		&::after {
			border-color: $transparent $transparent $themeColor $themeColor;
		}
	}
}
.userAvatar {
	@include avatar;
	flex-shrink: 0;
	background-image: url('../../../../../../assets/openai.png');
}
