@import '../../../../style/avatar.scss';
@import '../../../../style/chat.scss';
@import '../../../../style/layout.scss';
.ask {
	display: flex;
	height: auto;
	width: 80%;
	align-self: flex-end;
	flex-direction: row-reverse;
	margin: 10px;
	.askContent {
		@include ask;
		background-color: $basicWhite;
		border: 1px solid $themeColor;
		position: relative;
		&::after {
			border-color: $themeColor $themeColor $transparent $transparent;
		}
	}
}
.userAvatar {
	@include avatar;
	flex-shrink: 0;
	// background-image: url("../../../../../../assets/image.webp");
	background-color: aliceblue;
}
