@mixin chat {
	display: flex;
	width: auto;
	height: auto;
	min-width: 100px;
	background: cornflowerblue;
	border-radius: 10px;
	padding: 10px;
	line-break: anywhere;
	font-size: 12px;
	line-height: 20px;
}
@mixin ask {
	@include chat;
	transform-style: preserve-3d;
	&::after {
		content: '';
		display: block;
		width: 5px;
		height: 5px;
		border: 1px solid #409eff;
		background: #ffffff;
		transform: rotate(45deg);
		position: absolute;
		right: -4px;
	}
}
@mixin answer {
	@include chat;
	transform-style: preserve-3d;
	&::after {
		content: '';
		display: block;
		width: 5px;
		height: 5px;
		border: 1px solid #409eff;
		background: #ffffff;
		transform: rotate(45deg);
		position: absolute;
		left: -4px;
	}
}
